

#div-relative{
    float: left;
    position:relative;
}
#sourceData{
    position:absolute;
    left:1px;
    top:31px;
    width:160px;
    z-index: 999;
}
#tags{
    margin-left: 20px;
}
#sourceData ul {
    padding:0px;
    margin-left: 20px;
    width: 180px;
}
#sourceData ul li {
    width: 160px;
    border: solid 1px;
    background-color: #FFFFFF;
    color: #0f9ae0;

}
#sourceData ul li:hover{
    background-color:#888;color:#fff;
}

#massage{
    width: 100%;
    height: 120px;
    border: solid 1px skyblue;
    border-radius:5px;
    float: right;
}

.relative_div{
    position: relative;

    width: 95%;
    height: 300px;
    border-radius: 7px;
    background-color: lightskyblue;
    z-index: 5;
}
.login_code{
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 12;
    width: 80%;
    height: 60px;
    border: 2px red;
}
.login{
    position: absolute;
    width: 40px;
    height: 40px;
    left: 9.7%;
    top: 1rem;
    border: 1px solid red;
    color:red;
    border-radius: 45px;
    font-size: 14px!important;
    font-family: "Microsoft YaHei";
    text-align: center;
    cursor: pointer;
    line-height: 42px;
    z-index: 12;
}
#userImageUrl{
    position: absolute;
    width: 40px;
    height: 40px;
    left: 9.7%;
    top: 1rem;
    border: 1px solid red;
    border-radius: 45px;
    z-index: 12;
}
/* 描绘评论框*/
.pinglun_code{
    position: absolute;
    height: 10%;
    width: 95%;
    left: 6%;
    margin: 0 8px;

    z-index: 11;
    top: 30px;
}
.content_div{
    width: 95%;
    height: 97px;
}
.left_div{
    position: absolute;
    width: 42px;
    height: 8px;
    left: 1.9%;
    background-image: url("../img/border-t.png");
    overflow: visible;
    top: 30px;
    z-index: 11;
}
.back_div{
    position: absolute;
    width: 42px;
    height: 8px;
    left: 1.9%;
    background-color: lightskyblue;
    top: 28px;
    z-index: 10;
}
.right_div{
    position: absolute;
    border-top: 1px solid red;
    top: 30px;
    left: 7.8%;
    width: 79.2%;
    height: 2px;
    z-index: 9;
}
.bottom_div{
    position: absolute;
    border-bottom: 1px solid red;
    top: 125px;
    left: 1.8%;
    width: 85.2%;
    height: 2px;
}
.left_img{
    position: absolute;
    background-image: url("../img/border-l.png");
    width: 8px;
    height: 97px;
    top: 30px;
    left: 1%;
    z-index: 11;

}
/* max-width */
@media screen and (max-width: 600px) {
    .left_img {
        position: absolute;
        background-image: url("../img/border-l.png");
        width: 8px;
        height: 97px;
        top: 30px;
        left: 0.1%;
        z-index: 11;
    }
}
.right_img{
    position: absolute;
    background-image: url("../img/border-r.png");
    width: 8px;
    height: 97px;
    left: 87%;
    top: 30px;
}
.emotion{
    position: absolute;
    top: 165px;
    left: 10%;
}
#image{
    position: absolute;
    top: 165px;
    left: 15%;
}
#sub_btn{
    position: absolute;
    top: 165px;
    left: 78%;
}
#saytext{
    position: absolute;
    width: 82%;
    height: 75px;
    top: 39px;
    left: 3.5%;
}

#show {
    position: absolute;
    width: 500px;
    margin: 20px auto;
    padding: 5px;
    top: 180px;
    left: 80px;
    vertical-align: top;
    border-bottom: 1px dashed #b3b3b3;
}

/*two*/
#image2{
    position: absolute;
    top: 165px;
    left: 15%;
}
#sub_btn2{
    position: absolute;
    top: 165px;
    left: 78%;
}
#saytext2{
    position: absolute;
    width: 82%;
    height: 75px;
    top: 39px;
    left: 3.5%;
}

#show2 {
    position: absolute;
    width: 500px;
    margin: 20px auto;
    padding: 5px;
    top: 180px;
    left: 80px;
    vertical-align: top;
    border-bottom: 1px dashed #b3b3b3;
}

#follow{
    position: fixed;
    background-color: #3bb4f2;
    text-align: center;
    height: 100px;
    top:70%;
    border-radius: 5px;
    width: 25px;
    left: 98%;
    z-index: 999;
}
#follow span{
    margin: 0 auto;
    width: 20px;
    line-height: 24px;
    color: red;

}

#doc-oc-demo3{

}

#user_infoPage{
    position: relative;
    width: 100%;
    height: 100%;
}

#info_haed{
    position: absolute;
    left: 80px;
    width: 90px;
    height: 90px;
    border-radius: 45px;
}

#infoPage_nickName{
    position: absolute;
    top: 100px;
    left: 60px;
    width: 100px;
    text-align: center;
}
#edit{
    position: absolute;
    left: 150px;
    top: 82px;
}
#leavingCode{
    position: absolute;
    background-color: #b2e2fa;
    width: 235px;
    height: 500px;
    border-radius: 5px;
    left: 3px;
    top: 150px;
}

/*
#show {
    width: 500px;
    margin: 20px auto;
    background: #fff;
    padding: 5px;
    border: 1px solid #DDD;
    vertical-align: top;
}*/
