#login_m_c{
    position: relative;
}
#username{
    position: absolute;
    top: 30px;
    left: 150px;
}
#password{
    position: absolute;
    top:90px;
    left: 150px;
}
/*用户名标题*/
#username_text{
    position: absolute;
    top: 30px;
    left: 80px;
}
/*密码标题*/
#password_text{
    position: absolute;
    top:90px;
    left: 80px;
}
/*忘记密码*/
#pwd_forget{
    position: absolute;
    top:150px;
    left: 280px;
}
/*注册*/
#login_up{
    position: absolute;
    top: 150px;
    left: 50px;
}
/*登录按钮*/
#login_sits{
    position: absolute;
    width: 140px;
    height: 80px;
    top: 200px;
    left: 140px;
}