#login_m_c{
    position: relative;
}
#username{
    position: absolute;
    top: 30px;
    left: 150px;
}
#password{
    position: absolute;
    top:90px;
    left: 150px;
}
#authCode{
    position: absolute;
    top: 150px;
    left: 150px;
}
#authImage{
    position: absolute;
    top:210px;
    left: 150px;
}
#authFun{
    position: absolute;
    top: 240px;
    left: 250px;
}
/*用户名标题*/
#username_text{
    position: absolute;
    top: 30px;
    left: 80px;
}
/*密码标题*/
#password_text{
    position: absolute;
    top:90px;
    left: 80px;
}
#authCode_text{
    position: absolute;
    top: 150px;
    left: 80px;
}

/*忘记密码*/
#pwd_forget{
    position: absolute;
    top:270px;
    left: 280px;
}
/*注册*/
#login_up{
    position: absolute;
    top: 270px;
    left: 50px;
}
/*登录按钮*/
#login_sits{
    position: absolute;
    width: 140px;
    height: 80px;
    top: 360px;
    left: 140px;
}
#login_msg{
    position: absolute;
    left: 25px;
    top:320px;
    width: 350px;
    height: 70px;
    text-align: center;
    font-family: 华文新魏;
}